@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-display: "Urbanist", sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #9328E7;
  --color-accent: #FFC83E;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #FCFBFC;
    overflow-x: hidden;
  }

}

@layer utilities {

  /* Animate text with a shine effect */
  @keyframes text-shine {
    0% {
      background-position: 0% 50%;
    }

    100% {
      background-position: 100% 50%;
    }
  }

  .animate-text-shine {
    animation: text-shine 3s ease-in-out infinite alternate;
  }

  /* Move Up Button Animation */
  @keyframes move-up-alternate {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(80%);
    }

    51% {
      transform: translateY(-80%);
    }

    100% {
      transform: translateY(0);
    }
  }

  .animate-move-up-alternate {
    animation: move-up-alternate 0.3s forwards;
  }
}

.input-box {
  @apply w-full flex justify-between gap-3 text-sm text-black bg-gray-50/50 rounded px-4 py-3 mb-4 mt-3 border border-gray-100 outline-none focus-within:border-purple-300;
}

.btn-primary {
  @apply w-full text-sm font-medium text-white bg-black shadow-lg shadow-purple-600/5 p-[10px] rounded-md my-1 hover:bg-purple-600/15 hover:text-black cursor-pointer;
}

.btn-small {
  @apply flex items-center gap-2 text-[13px] font-semibold text-white bg-linear-to-r from-purple-500/85 to-purple-700 px-5 py-1.5 rounded cursor-pointer;
}

.btn-small-light {
  @apply flex items-center gap-2 text-[12px] font-semibold text-purple-800 bg-purple-600/15 border border-purple-50 hover:border-purple-400 px-3 py-1.5 rounded cursor-pointer;
}

.form-input {
  @apply w-full text-sm text-black outline-none bg-white border border-slate-100 px-2.5 py-3 rounded-md mt-2 placeholder:text-gray-500 focus-within:border-purple-300;
}

.wysiwyg {
  @apply prose max-w-none prose-headings:mb-2 prose-headings:mt-0 prose-p:mb-2 prose-p:mt-0 prose-p:leading-normal prose-a:break-all prose-ol:mb-2 prose-ol:mt-0 prose-ul:mb-2 prose-ul:mt-0 prose-li:mb-2 prose-li:mt-0 prose-li:leading-normal prose-img:mb-2 prose-img:mt-0 prose-hr:mb-2 prose-hr:mt-0;
}

/* Get Started Button */
.btn-get-started,
.btn-get-started *,
.btn-get-started :after,
.btn-get-started :before,
.btn-get-started:after,
.btn-get-started:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-get-started {
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-size: 70%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  border-radius: 10px;
  border-width: 1px;
  border-color: black;
  padding: 0.8rem 2rem;
  z-index: 0;
}

.btn-get-started,
.btn-get-started .text-container {
  overflow: hidden;
  position: relative;
}

.btn-get-started .text-container {
  display: block;
  mix-blend-mode: difference;
}

.btn-get-started .text {
  display: block;
  position: relative;
}

.btn-get-started:hover .text {
  animation: move-up-alternate 0.3s forwards;
}

.btn-get-started:after,
.btn-get-started:before {
  --skew: 0.2;
  background: #fff;
  content: "";
  display: block;
  height: 102%;
  left: calc(-50% - 50% * var(--skew));
  pointer-events: none;
  position: absolute;
  top: -104%;
  transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
  transition: transform 0.2s ease;
  width: 100%;
}

.btn-get-started:after {
  --progress: 0%;
  left: calc(50% + 50% * var(--skew));
  top: 102%;
  z-index: -1;
}

.btn-get-started:hover:before {
  --progress: 100%;
}

.btn-get-started:hover:after {
  --progress: -102%;
}

/* Custom Scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: rgba(100, 100, 100, 0.4) transparent;
  /* Firefox */
  overflow-y: auto;
  /* Enable vertical scrolling */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}